<header id="header">
    <h1><a href="/">OO 대학교 온라인 투표</a></h1>
    <nav class="links">
        <ul>
            <li><a href="/notice">공 지 사 항</a></li>
            <li><a href="/free">자 유 게 시 판</a></li>
            <li><a href="#">투 표 하 기</a></li>
            <li><a href="#">개 표 결 과</a></li>
            <li><a href="#">Q & A</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>